<ion-header>
  <ion-toolbar>
    <ion-title>Относно</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Библията, издание 1940 г.</h2>
  
  <p>
    Електронният вариант на текста на това широко познато издание, което и в днешни дни продължава да се печата и
    разпространява чрез съдействието на
    <a href="//www.biblesociety.org/" title="United Bible Societies website">United Bible Societies</a>, е набиран ръчно
    от
    <a href="//vanyog.com/" title="Ваньо Георгиев website">Ваньо Георгиев</a>
    и негови приятели.
  </p>

  <p>
    За съжаление, еднозначно и точно възпроизвеждане с компютър на напечатания текст е невъзможно (поне с използваните
    тук средства). Ето защо, показваният текст не съвпада точно с този на хартиен носител.
    Допуснати са следните промени:
  </p>

  <ul>
    <li>
      Думите, в които има стари букви от българската азбука (тези букви без специални шрифтове не се възпроизвеждат от
      компютрите), са изписвани според съвременния правопис.
    </li>
    <li>
      За улеснение на съвременния читател: навсякъде е премахнато нямото "ъ", а много от често употребяваните думи са
      изписвани според съвременния правопис (например: използвано е "сърце" вместо "сърдце", "стълб" вместо "стълп", и
      т.н.).
    </li>
  </ul>

  <p>
    Все пак, за да не се отнеме от автентичното звучене на оригиналния текст, старите думи не са заменени със
    съвременни, запазени са падежните форми, препинателните знаци, главните и малки букви са поставени както в оригинала
    въпреки, че изглежда неправилно и странно според съвременните правила. Както са в оригиналното издание (само без
    старите букви и нямото "ъ") са изписани: личните имена и наименованията на растения и животни (например: "Иосиф"
    вместо "Йосиф"; "цаплята", "гйозум" и др.) и някои думи, които се срещат рядко в текста (например: "измислювам",
    "възлюблен", "земледелец" и др.). Думи които според съвременния правопис се пишат слято (или обратно - разделено) са
    изписани разделено (слято), както в оригинала. Отстранявани са само фрапиращи печатни грешки, които променят или
    затрудняват разбирането на смисъла и то само след сравняване с други преводи, издания и версии и установяване с
    пълна увереност, че се касае за такива. Всички, направени поправки са отбелязани с бележки под линия.
  </p>
</ion-content>